@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    padding: 0;
    margin: 0;
    font-family: "poppins", "sans-serif";
}

.pointer{
    cursor: pointer;
}

.login, .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg, #f9e8e6, #f5f4dc, #e6f9e6, #dcebf5, #f5dcf5);
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(255, 242, 218);
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    padding: 1rem;
}

#login-button, #signupButton,#createAccountButton,#add-button,.cancel_button{
    padding: 0.5rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

#createAccountButton{
    background-color: blueviolet;
}

.formhead{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.content{
    display: flex;
}

.content{
    height: 100vh;
    width: 100vw;
}

.header{
    position: fixed;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
}

.header > .left, .header > .right{
    flex: 1
}

.header > .left{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.header > .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.ul{
    display: flex;
    gap: 1rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 2rem;
}

.greeting, .cardsHead{
    padding: 1rem;
    font-size: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: max-content;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 5px;
    background: linear-gradient(145deg, #f9e8e6, #f5f4dc, #e6f9e6, #dcebf5, #f5dcf5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card > .topCard, .card > .bottomCard{
    flex: 1;
    padding: 1rem;
}

.bottomCard{
    border-top: 1px solid black;
}

.topCard{
    display: flex;
}

.topLeft{
    flex: 2;
}

.topRight{
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card_number{
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.name{
    font-size: 1.5rem;
    font-weight: bold;
}

.logoutButton{
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;

}

.cardheadBar{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#add-card{
    height: 3rem;
    width: max-content;
    border: none;
    border-radius: 5px;
    background-color: greenyellow;
    padding: 0 1rem 0 1rem;
}

#add-Card .inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#add-Card .form, #signup-form .form{
    width: 50vw;
    height: max-content;
}

#add-Card .inputs > input, #signup-form .inputs > input{
    flex: 1 1 calc(33.33% - 10px);
}

#signup-form .inputs{
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.cancel_button{
    color: black;
    background-color: white;
    border: 1px solid grey;
}

.bottom_bottom{
    display: flex;
}

.bottom_bottom > div{
    flex: 1;
}

.cvv{
    font-style: italic;
}

.body{
    padding-top: 15vh;
}

.topDesignDiv{
    position: absolute;
    top: -25vh;
    left: -25vw;
    width: 40vw;
    height: 60vh;
    animation: rotate 10s linear infinite;
}

.bottomDesignDiv{
    position: absolute;
    bottom: -25vh;
    right: -25vw;
    width: 50vw;
    height: 60vh;
    animation: antiRotate 10s linear infinite;
}

.heading{
    position: absolute;
    top: 0;
    left: 49v;
    font-size: 3rem;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes antiRotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

#login-form, #add-Card, #signup-form{
    position: relative;
    overflow: hidden;
}